@use '../abstracts/' as *;
@use 'mixins' as *;

@include create-utility-classes('bg', 'background', $colors);
@include create-utility-classes('fc', 'color', $colors);

.u-img-clear {
  max-width: 100%;
  display: block;
}

.u-curve {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.u-curve--dark {
  background-image: url('./assets/dark-curve-sm.png');
  background-color: var(--clr-primary-950);

  @include mq-min-width('md') {
    background-image: url('./assets/dark-curve-md.png');
  }

  @include mq-min-width('md') {
    background-image: url('./assets/dark-curve-lg.png');
  }
}

.u-curve--light {
  --curve-light-height: var(--px-1070-71);

  background-image: url('./assets/light-curve-sm.png');
  background-color: var(--clr-primary-1000);
  height: var(--curve-light-height);

  @include mq-min-width('md') {
    background-image: url('./assets/light-curve-md.png');
    --curve-light-height: var(--px-920-73);
  }

  @include mq-min-width('lg') {
    background-image: url('./assets/light-curve-lg.png');
    --curve-light-height: var(--px-960);
  }
}
