@use '../abstracts/' as *;

@include create-utility-classes('bg', 'background', $colors);
@include create-utility-classes('fc', 'color', $colors);

.img-clear {
  max-width: 100%;
  display: block;
}

.underline {
  // border-bottom: var(--px-4) solid var(--clr-primary-600);

  text-decoration: underline;
  text-decoration-color: var(--clr-primary-600);
  text-decoration-thickness: var(--px-2);
}

.bg-pattern-dark {
  // u-bg-primary-100
  // background-image: url('./assets/dark-background-md.png');
  // background-repeat: no-repeat;
  background-color: var(--clr-primary-100);
}
