@use '../abstracts/' as *;

@include create-utility-classes('bg', 'background', $colors);
@include create-utility-classes('fc', 'color', $colors);

.img-clear {
  max-width: 100%;
  display: block;
}

.underline {
  border-bottom: var(--px-4) solid var(--clr-primary-600);
}

.bg-pattern-dark {
  background-image: url(./assets/dark-background.png);
  background-repeat: no-repeat;
}

.bg-pattern-light {
  background-image: url(./assets/light-background.png);
  background-repeat: no-repeat;
}
