$px: (
  '8': 8px,
  '16': 16px,
  '17': 17px,
  '18': 18px,
  '24': 24px,
  '26': 26px,
  '28': 28px,
  '30': 30px,
  '32': 32px,
  '40': 40px,
  '71': 71px,
  '80': 80px,
  '102': 102px,
  '104': 104px,
  '164': 164px,
);
