$f-ff: 'Barlow Semi Condensed';
$f-regular-file: './assets/fonts/BarlowSemiCondensed-Regular.ttf';
$f-bold-file: './assets/fonts/BarlowSemiCondensed-SemiBold.ttf';
$f-ff-primary: $f-ff, sans-serif;

$f-fs-base: 13px;

$f-fs: (
  '13': $f-fs-base,
);

$f-fw-regular: 500;
$f-fw-bold: 600;
$f-fw: (
  'regular': $f-fw-regular,
  'bold': $f-fw-bold,
);

/*
Example: 
$f-lh: (
  '26': 26px
);
*/
$f-lh: ();

/*
Example:
$f-ls: (
  'minus-0-2': -0.2px
);
*/
$f-ls: ();
