/*
Example:

$f-ff: 'IBM Plex Sans';
$f-regular-file: './assets/fonts/IBMPlexSans-Regular.ttf';
$f-bold-file: './assets/fonts/IBMPlexSans-Bold.ttf';

$ff-primary: $font-family, sans-serif;
*/

$f-ff: '';
$f-regular-file: '';
$f-bold-file: '';
$f-ff-primary: $f-ff;

$f-fs-base: 16px;

/*
Example:
$f-sizes: (
  '16': 16px
);
*/
$f-fs: ();

/*
Example:
$f-fw-regular: 400;
$f-fw-bold: 700;

$f-fw: (
  'regular': $f-fw-regular,
  'bold': $f-fw-bold
);
*/
$f-fw: ();

/*
Example: 
$f-lh: (
  '26': 26px
);
*/
$f-lh: ();

/*
Example:
$f-ls: (
  'minus-0-2': -0.2px
);
*/
$f-ls: ();
