@use '../../utils/' as *;

.apply {
  --apply-mt: var(--px-100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--apply-mt);

  @include mq-min-width('lg') {
    --apply-mt: var(--px-110);
  }

  &__image {
    --apply-image-width: var(--px-281);
    --apply-image-height: var(--px-281);
    --apply-image-pos-bottom: var(--px-m53);

    position: relative;
    bottom: var(--apply-image-pos-bottom);
    z-index: 1;

    width: var(--apply-image-width);
    height: var(--apply-image-height);

    @include mq-min-width('md') {
      --apply-image-pos-bottom: calc(var(--apply-image-height) / -2);
      align-self: flex-start;
      margin-left: var(--px-39);
    }

    @include mq-min-width('lg') {
      --apply-image-width: var(--px-477);
      --apply-image-height: var(--px-477);

      left: 0px;
      top: 0;
      margin-left: 0;
      margin-bottom: var(--px-m300);
    }
  }

  &__content {
    --apply-content-pt: var(--px-32);
    --apply-content-pr: var(--px-31);

    padding: var(--apply-content-pt) var(--apply-content-pr);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    @include mq-min-width('md') {
      --apply-content-pt: var(--px-48);
      --apply-content-pr: var(--px-56);

      margin-inline: var(--px-214) var(--px-40);
      align-items: flex-start;
    }

    @include mq-min-width('lg') {
      margin: 0 0 0 var(--px-382);

      --apply-content-pt: var(--px-64);
      --apply-content-pr: var(--px-64);
    }

    &-description {
      --apply-description-mt: var(--px-16);

      text-align: center;
      margin-top: var(--apply-description-mt);

      @include mq-min-width('md') {
        --apply-description-mt: var(--px-24);
        text-align: left;
      }

      @include mq-min-width('lg') {
        --apply-description-mt: var(--px-32);
      }
    }

    &-action {
      --apply-action-mt: var(--px-24);
      --apply-action-width: var(--px-172);
      --apply-action-height: var(--px-55);

      margin-top: var(--apply-action-mt);
      width: var(--apply-action-width);
      height: var(--apply-action-height);

      @include mq-min-width('md') {
        --apply-action-mt: var(--px-24);
      }

      @include mq-min-width('lg') {
        --apply-action-mt: var(--px-32);
      }
    }
  }
}
