@use '../../utils/' as *;

.cards {
  --card-gap: var(--px-40);
  --cards-mlr: 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: var(--card-gap);
  margin-inline: var(--cards-mlr);

  @include mq-min-width('md') {
    --cards-mlr: var(--px-97);
    --card-gap: var(--px-48);
  }

  @include mq-min-width('lg') {
    grid-template-columns: repeat(3, 1fr);
    --cards-mlr: 0;
    --card-gap: var(--px-26);
  }
}
