@use '../../abstracts/' as *;
@use '../../utils/' as *;

.heading {
  --heading-f-size-large: var(--f-fs-80);
  --heading-f-lh-large: var(--f-lh-80);
  --heading-f-size-medium: var(--f-fs-56);
  --heading-f-lh-medium: var(--f-lh-64);
  --heading-f-size-small: var(--f-fs-32);
  --heading-f-lh-small: var(--f-lh-40);

  font-family: $f-ff2-primary;
  font-weight: $f-fw-semibold;
  margin-bottom: var(--px-1);

  &--large {
    font-size: var(--heading-f-size-large);
    line-height: var(--heading-f-lh-large);

    @include mq-max-width('md') {
      --heading-f-size-large: var(--f-fs-50);
      --heading-f-lh-large: var(--f-lh-50);
    }
  }

  &--medium {
    font-size: var(--heading-f-size-medium);
    line-height: var(--heading-f-lh-medium);
  }

  &--small {
    font-size: var(--heading-f-size-small);
    line-height: var(--heading-f-lh-small);

    @include mq-max-width('md') {
      --heading-f-size-small: var(--f-fs-28);
      --heading-f-lh-small: var(--f-lh-36);
    }
  }

  &--x-small {
    font-size: var(--f-fs-20);
    line-height: var(--f-lh-36);
  }
}
