$colors: (
  'primary-100': hsl(226, 43%, 10%),
  'primary-200': hsl(235, 46%, 20%),
  'primary-600': hsl(246, 80%, 60%),
  'primary-700': hsl(235, 45%, 61%),  
  'primary-800': hsl(236, 100%, 87%),
  'primary-1000': hsl(0, 0%, 100%),
  
  //
  'work': hsl(15, 100%, 70%),
  'play': hsl(195, 74%, 62%),
  'study': hsl(348, 100%, 68%),
  'exercise': hsl(145, 58%, 55%),
  'social': hsl(264, 64%, 52%),
  'self_care': hsl(43, 84%, 65%),
);
