$f-ff: 'Rubik';
$f-light-file: './assets/fonts/Rubik-Light.ttf';
$f-regular-file: './assets/fonts/Rubik-Regular.ttf';
$f-medium-file: './assets/fonts/Rubik-Medium.ttf';
$f-ff-primary: $f-ff, sans-serif;

$f-fs-base: 16px;

$f-fs: (
  '15': 15px,
  '16': $f-fs-base,
  '18': 18px,
  '24': 24px,
  '40': 40px,
);

$f-fw-light: 300;
$f-fw-regular: 400;
$f-fw-medium: 500;

$f-fw: (
  'light': $f-fw-light,
  'regular': $f-fw-regular,
  'medium': $f-fw-medium,
);

/*
Example: 
$f-lh: (
  '26': 26px
);
*/
$f-lh: ();

/*
Example:
$f-ls: (
  'minus-0-2': -0.2px
);
*/
$f-ls: ();
