@use '../abstracts/' as *;

@include add-font-face($font-family, $f-regular-file, $fw-regular, 'normal');
@include add-font-face($font-family, $f-bold-file, $fw-bold, 'bold');

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-16);
  color: var(--clr-primary-100);
}
