.custom-button {
  // button (140x48)
  // font-size: 16

  --c-btn-fs-size: var(--fs-normal);
  --c-btn-fs-line-height: var(--flh-normal); // <--
  --c-btn-fw: var(--fw-bold);
  --c-btn-b-radius: 28px;
  --c-btn-width: 140px;
  --c-btn-height: 48px;
  --c-btn-f-color: var(--clr-secondary-white);
  --c-btn-bg-color: var(--clr-primary);

  // lt. design
  // --c-btn-fs-size: var(--fs-lg);
  // --c-btn-width: 167px;
  // --c-btn-height: 56px;

  font-size: var(--c-btn-fs-size);
  line-height: var(--c-btn-fs-line-height);
  font-weight: var(--c-btn-fw);
  border-radius: var(--c-btn-b-radius);
  width: var(--c-btn-width);
  height: var(--c-btn-height);
  color: var(--c-btn-f-color);
  background: var(--c-btn-bg-color);
  border: none;

  &:hover {
    --c-btn-bg-color: var(--clr-secondary-blue-gray);
  }

  &--lite {
    --c-btn-bg-color: var(--clr-secondary-lite-gradient);

    --c-btn-width: 167px;
    --c-btn-height: 56px;
    --c-btn-b-radius: 31.5px;

    &:hover {
      --c-btn-bg-color: var(--clr-secondary-purple);
    }
  }

  &--dark {
    --c-btn-bg-color: var(--clr-secondary-dark-gradient);
    &:hover {
      --c-btn-bg-color: var(--clr-secondary-dark-gradient);
      opacity: 0.5;
    }
  }

  &--no-border {
    --c-btn-fs-size: var(--fs-lg);
    --c-btn-bg-color: var(--clr-secondary-white);

    --c-btn-f-color: var(--clr-secondary-dark-purple);

    --c-btn-b-radius: 0;
    --c-btn-width: auto;
    --c-btn-height: auto;

    padding: 0;

    &:hover {
      --c-btn-f-color: var(--clr-secondary-purple);
      --c-btn-bg-color: var(--clr-secondary-white);
    }
  }
}
