@use '../abstracts/' as *;

.hero {
  --c-hero-content-mt: var(--space-38);
  --c-hero-description-mt: var(--space-26);
  --c-hero-description-fs: var(--fs-normal);
  --c-hero-description-fw: var(--fw-medium);
  --c-hero-description-fc: var(--clr-secondary-gray);
  --c-hero-description-flh: var(--flh-small);
  --c-hero-action-mt: var(--space-24);
  --c-hero-image-mt: var(--space-46);

  @include mq-min-width('md') {
    display: flex;
    align-items: start;
    justify-content: start;
    overflow: hidden;
  }

  &__content {
    margin-top: var(--c-hero-content-mt);

    @include mq-min-width('md') {
      --c-hero-content-mt: var(--space-99);
      min-width: 398px;
      max-width: 398px;
    }

    &__description {
      margin-top: var(--c-hero-description-mt);
      font-weight: var(--c-hero-description-fw);
      color: var(--c-hero-description-fc);
      line-height: var(--c-hero-description-flh);
      font-size: var(--c-hero-description-fs);

      @include mq-min-width('md') {
        --c-hero-description-mt: var(--space-40);
      }
    }

    &__action {
      margin-top: var(--c-hero-action-mt);

      @include mq-min-width('md') {
        --c-hero-action-mt: var(--space-40);
      }
    }
  }

  &__picture {
    margin-top: var(--c-hero-image-mt);

    &__img {
      width: 95.337%;

      @include mq-min-width('md') {
        position: absolute;
        top: -90px;
        right: -320px;

        height: auto;
        width: auto;
      }
    }
  }
}
