.hero {
  --c-hero-content-mt: var(--space-38);
  --c-hero-description-mt: var(--space-26);
  --c-hero-description-fs: var(--fs-normal);
  --c-hero-description-fw: var(--fw-medium);
  --c-hero-description-fc: var(--clr-secondary-gray);
  --c-hero-description-flh: var(--flh-small);
  --c-hero-action-mt: var(--space-24);
  --c-hero-image-mt: var(--space-46);

  &__content {
    margin-top: var(--c-hero-content-mt);

    &__description {
      margin-top: var(--c-hero-description-mt);
      font-weight: var(--c-hero-description-fw);
      color: var(--c-hero-description-fc);
      line-height: var(--c-hero-description-flh);
    }

    &__action {
      margin-top: var(--c-hero-action-mt);
    }
  }

  &__picture {
    margin-top: var(--c-hero-image-mt);
    text-align: center;
    &__img {
      // 327x301
      width: 95.337%;
    }
  }
}
