@use '../abstracts/' as *;

/*
Example:

@include add-font-face($f-ff, $f-regular-file, $f-fw-regular, 'normal');
@include add-font-face($f-ff, $f-bold-file, $f-fw-bold, 'bold');
*/

body {
  font-family: var(--f-ff-primary);
  font-size: $f-fs-base;
}
