@use '../abstracts/' as *;

@include add-font-face($f-ff, $f-light-file, $f-fw-light, 'light');
@include add-font-face($f-ff, $f-regular-file, $f-fw-regular, 'normal');
@include add-font-face($f-ff, $f-medium-file, $f-fw-medium, 'medium');

body {
  font-family: var(--f-ff-primary);
  font-size: $f-fs-base;

  background-color: var(--clr-primary-100);
  color: var(--clr-primary-1000);
}
