@mixin nutmeg-h2-heading {
  h2 {
    color: $nutmeg-color;
    font-family: 'Young Serif', serif;
    font-weight: $font-weight-bold;
    font-size: 1.7rem;
  }
}

@mixin nutmeg-x2-bold {
  font-weight: $font-weight-bold-x2;
  color: $nutmeg-color;
}

@mixin horizontal-line {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 2rem;
}

@mixin spacing-top {
  margin-top: 1.5rem;
}

@mixin adjust-lists-position {
  ul {
    margin: 0.5rem 2rem;

    li {
      padding: 0rem 1.5rem;
    }
  }
}

/* Utility classes */
.bold {
  font-weight: $font-weight-bold;
}

.bold-x {
  font-weight: $font-weight-bold-x;
}

.bold-x2 {
  font-weight: $font-weight-bold-x2;
}
