@import 'variables';
@import 'utilities';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  background: $eggshell-color;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7.5rem 0 2rem 0;

  .centered-content {
    padding: 2rem;
    max-width: 735px;
    background: $white-color;
    border-radius: $border-radius;

    header {
      .header-image {
        img {
          width: 100%;
          height: auto;
          border-radius: $border-radius;
        }
      }

      h1 {
        color: $dark-charcoal;
        font-family: 'Young Serif', serif;
        font-weight: $font-weight-bold;
        font-style: normal;
        margin-top: 1.7rem;
        font-size: 2.5rem;
      }
    }

    main {
      .description {
        margin-top: 0.75rem;
      }

      .preparation-time {
        margin-top: 2rem;
        border-radius: $border-radius;
        background: $rose-white-color;
        padding: 1.2rem;

        h2 {
          color: $dark-raspberry;
        }

        @include adjust-lists-position;
      }

      .ingredients {
        @include nutmeg-h2-heading;
        @include horizontal-line;
        @include spacing-top;
        @include adjust-lists-position;
      }

      .instructions {
        @include nutmeg-h2-heading;
        @include horizontal-line;
        @include spacing-top();

        ol {
          list-style: none;
          counter-reset: list-counter;
          padding-left: 0.5rem;

          li {
            counter-increment: list-counter;
            position: relative;
            padding-left: 2rem;

            &::before {
              content: counter(list-counter) '.';
              position: absolute;
              left: 0;
              @include nutmeg-x2-bold;
            }
          }
        }
      }

      .nutrition {
        @include nutmeg-h2-heading;
        @include spacing-top();

        .grid {
          // margin-top: 1rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-top: 1em;

          .item {
            border-bottom: 1px solid $light-grey;
            padding: 0.5rem;
          }

          .item:nth-last-child(-n + 2) {
            border-bottom: none;
          }

          .bold {
            @include nutmeg-x2-bold;
          }
        }
      }
    }
  }
}

@import 'media';
