@use '../abstracts/' as *;

body {
  font-family: var(--ff);
  font-size: var(--fs-base);
}

h1 {
  font-size: var(--fs-4xl);
  line-height: var(--flh-2xl);
  font-weight: var(--fw-extra-bold);
}

h2 {
  font-size: var(--fs-3xl);
  line-height: var(--flh-xl);
  font-weight: var(--fw-extra-bold);
}

h3 {
  font-size: var(--fs-2xl);
  line-height: var(--flh-lg);
  font-weight: var(--fw-extra-bold);
}

h4 {
  font-size: var(--fs-xl);
  line-height: var(--flh-normal);
  font-weight: var(--fw-extra-bold);
}

p {
  font-size: var(--fs-normal);
  line-height: var(--flh-normal);
  font-weight: var(--fw-medium);
}
