@use '../utils/' as *;

.header {
  display: flex; 
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  
  &__logo {
    --header-logo-mt: var(--px-48);

    margin-top: var(--header-logo-mt);
  }

  &__hero { 
    --header-hero-mt: var(--px-54);
    --header-hero-widht: var(--px-414);
    --header-hero-height: var(--px-153);

    margin-top: var(--header-hero-mt);
    width: var(--header-hero-widht);
    height: var(--header-hero-height);

    @include mq-min-width('md') {
      --header-hero-mt: var(--px-64);
      --header-hero-widht: var(--px-820);
      --header-hero-height: var(--px-303);
    }
  
  }
}