@use '../utils/' as *;

.steps {
  --steps-mt: var(--px-64);

  margin-top: var(--steps-mt);

  @include mq-min-width('md') {
    --steps-mt: var(--px-80);
  }

  @include mq-min-width('lg') {
    --steps-mt: var(--px-110);
  }
}
