$ff-primary: 'IBM Plex Sans', sans-serif;

$fs-base: 16px;
$fs-16: $fs-base;

$f-sizes: (
  '16': $fs-16,
);

$fw-regular: 400;
$fw-bold: 700;

$f-weight: (
  'regular': $fw-regular,
  'bold': $fw-bold,
);
