@use '../abstracts/' as *;

body {
  font-family: $f-family;
  font-size: $f-size-base;
  background-color: var(--color-pale-blue);
  background-image: url('../images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  // background-size: 639.27px 189.71px;
  background-size: 100% px-to-rem(189.71px);

  background-position: center top;
}
