@use '../../scss/helper/' as *;

.activity {
  &[data-type]::before {
    --activity-header-visible-height: var(--px-38);

    content: '';
    display: block;
    border-radius: var(--px-15) var(--px-15) 0 0;
    height: calc(var(--activity-header-visible-height) + var(--px-15));
    margin-bottom: calc(var(--px-15) * -1);
    background-repeat: no-repeat;

    @include mq-min-width('lg') {
      --activity-header-visible-height: var(--px-45);
    }
  }

  &[data-type='work']::before {
    background-color: var(--clr-work);
    background-image: url('../../assets/icon-work.svg');
    background-position: top -12px right 17.42px;
  }

  &[data-type='play']::before {
    background-color: var(--clr-play);
    background-image: url('../../assets/icon-play.svg');
    background-position: top -12px right 11px;
  }

  &[data-type='study']::before {
    background-color: var(--clr-study);
    background-image: url('../../assets/icon-study.svg');
    background-position: top -12px right 17.07px;
  }

  &[data-type='exercise']::before {
    background-color: var(--clr-exercise);
    background-image: url('../../assets/icon-exercise.svg');
    background-position: top -12px right 17.62px;
  }

  &[data-type='social']::before {
    background-color: var(--clr-social);
    background-image: url('../../assets/icon-social.svg');
    background-position: top -12px right 13.48px;
  }

  &[data-type='self care']::before {
    background-color: var(--clr-self_care);
    background-image: url('../../assets/icon-self-care.svg');
    background-position: top -12px right 7.21px;
  }

  &__content {
    --activity-p-t: var(--px-28);
    --activity-p-r: var(--px-24);
    --activity-p-b: var(--px-28);
    --activity-p-l: var(--px-24);
    --activity-row-gap: var(--px-6);
    --activity-column-gap: 0;

    background-color: var(--clr-primary-200);
    border-radius: var(--px-15);
    padding: var(--activity-p-t) var(--activity-p-r) var(--activity-p-b)
      var(--activity-p-l);

    display: grid;
    grid-template-areas:
      'title image'
      'current previous';
    align-items: center;
    row-gap: var(--activity-row-gap);
    column-gap: var(--activity-column-gap);

    @include mq-min-width('lg') {
      --activity-p-t: var(--px-29);
      --activity-p-r: var(--px-35);
      --activity-p-b: var(--px-32);
      --activity-p-l: var(--px-30);

      grid-template-areas:
        'title image'
        'current current'
        'previous previous';
      column-gap: initial;
    }
  }

  &__title {
    font-size: var(--f-fs-18);
    font-weight: var(--f-fw-regular);
    margin-bottom: var(--px-1);
    grid-area: title;
  }

  &__image {
    width: var(--px-21);
    height: var(--px-5);
    grid-area: image;
    justify-self: end;
  }

  &__current {
    --activity-current-fs: var(--f-fs-32);

    font-size: var(--activity-current-fs);
    font-weight: var(--f-fw-light);
    margin-bottom: var(--px-1);
    grid-area: current;

    @include mq-min-width('lg') {
      --activity-current-fs: var(--f-fs-56);
      margin-top: var(--px-22);
    }
  }

  &__previous {
    font-size: var(--f-fs-15);
    margin-bottom: var(--px-1);
    color: var(--clr-primary-800);
    grid-area: previous;
    justify-self: end;

    @include mq-min-width('lg') {
      justify-self: start;
    }
  }
}
