@use '../../scss/helper/' as *;

.userinfo {
  @include mq-min-width('lg') {
    grid-row: span 2;
  }

  &__header {
    --header-pt: var(--px-35);
    --header-pr: var(--px-39);
    --header-pb: var(--px-34);
    --header-pl: var(--px-32);

    --header-column-gap: var(--px-20);
    --header-row-gap: var(--px-4);

    --userinfo-header-border-radius: var(--px-15);

    background-color: var(--clr-primary-600);
    border-radius: var(--userinfo-header-border-radius);
    padding: var(--header-pt) var(--header-pr) var(--header-pb) var(--header-pl);

    display: grid;
    grid-template-areas:
      'image caption'
      'image name';
    align-items: center;
    column-gap: var(--header-column-gap);
    row-gap: var(--header-row-gap);

    @include mq-min-width('lg') {
      --header-pt: var(--px-37);
      --header-pr: var(--px-84);
      --header-pb: var(--px-80);
      --header-pl: var(--px-32);

      grid-template-areas:
        'image'
        'caption'
        'name';
    }
  }

  &__image {
    --user-image-size: var(--px-64);

    width: var(--user-image-size);
    height: var(--user-image-size);
    grid-area: image;
    border: 3px solid white;
    border-radius: 50%;

    @include mq-min-width('lg') {
      --user-image-size: var(--px-78);
    }
  }

  &__caption {
    --user-caption-fs: var(--f-fs-15);

    grid-area: caption;
    font-size: var(--user-caption-fs);
    color: var(--clr-primary-700);
    align-self: end;
    margin-bottom: var(--px-1);

    @include mq-min-width('lg') {
      margin-top: var(--px-43);
    }
  }

  &__name {
    --user-name-fs: var(--f-fs-24);

    grid-area: name;
    font-size: var(--user-name-fs);
    color: var(--clr-primary-1000);
    margin-bottom: var(--px-1);
    font-weight: var(--f-fw-light);
    align-self: start;

    @include mq-min-width('lg') {
      --user-name-fs: var(--f-fs-40);
    }
  }

  &__primary_navigation::before {
    position: relative;
    content: '';
    background-color: var(--clr-primary-200);
    display: block;
    margin-top: calc(var(--px-15) * -1);
    height: var(--px-15);
    z-index: -1;
  }

  &__navigation {
    --navigation-pt: var(--px-25);
    --navigation-pb: var(--px-25);

    border-bottom-left-radius: var(--px-15);
    border-bottom-right-radius: var(--px-15);
    background-color: var(--clr-primary-200);
    padding-top: var(--navigation-pt);
    padding-bottom: var(--navigation-pb);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    @include mq-min-width('lg') {
      --navigation-pt: var(--px-26);
      --navigation-pb: var(--px-33);

      grid-template-columns: 1fr;
      justify-items: start;

      padding-left: var(--px-32);
      gap: var(--px-21);
    }
  }

  &__navitem {
    border: 0;
    background: transparent;
    cursor: pointer;

    font-size: var(--f-fs-18);
    color: var(--clr-primary-700);
    margin-bottom: var(--px-1);

    &_active {
      border: 0;
      background: transparent;
      font-size: var(--f-fs-18);
      color: var(--clr-primary-1000);
      margin-bottom: var(--px-1);
    }

    &:hover {
      color: var(--clr-primary-1000);
    }
  }
}

.btn {
  font-size: 5rem;
}

.btn:hover {
  background-color: yellow;
}
