@import 'scss/helper';
@import 'scss/variables';
@import 'scss/colors';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: 'Overpass', sans-serif;
  background: $color-very-dark-blue;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.feedback,
.rating {
  width: 90%;
  color: $color-white;
  background: $color-dark-blue;

  padding: px-to-rem(24px) px-to-rem(24px) px-to-rem(32px) px-to-rem(24px);
  border-radius: px-to-em(15px);

  max-width: 412px;
}

.rating__icon {
  border-radius: 50%;
  background: $color-dark-blue-light;
  width: px-to-em(48px);
  height: px-to-em(48px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rating__title {
  margin-top: px-to-rem(30px);
  font-size: px-to-rem(24px);
}

.rating__description {
  margin-top: px-to-rem(7px);
  color: $color-light-gray;
}

.rating__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: px-to-rem(24px);
  flex-wrap: wrap;
}

.rating__submit {
  margin-top: px-to-rem(24px);
}
.btn--orange {
  width: 100%;
  height: px-to-em(45px);
  border-radius: 100px;
  background: $color-orange;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn--orange:hover {
  background: $color-white;
  color: $color-orange;
}

.btn--grey {
  padding: px-to-em(15px) px-to-em(20px);
  background: $color-dark-blue-light;
  color: $color-medium-grey;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn--grey:hover {
  background-color: $color-orange;
  font-weight: bolder;
  color: white;
}

.btn--grey__selected {
  background-color: $color-light-gray;
  font-weight: bolder;
  color: white;
}

.feedback {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback__image {
  width: 58%;
  height: 58%;
}

.feedback__result {
  margin-top: px-to-rem(32px);
  color: $color-orange;

  border-radius: 100px;
  background: $color-dark-blue-light;
  width: px-to-em(168px);
  height: px-to-em(32px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback__title {
  margin-top: px-to-rem(24px);
  font-size: px-to-rem(24px);
}

.feedback__thankyou {
  margin-top: px-to-rem(17px);
  color: $color-light-gray;
}

@media (min-width: 400px) {
  .feedback,
  .rating {
    padding: px-to-rem(32px);
    border-radius: px-to-em(30px);
  }

  .rating__description {
    margin-top: px-to-rem(15px);
  }

  .btn--grey {
    padding: px-to-em(15px) px-to-em(20px);
    font-size: medium;
  }

  .feedback__result {
    width: px-to-em(193px);
  }
}
