$c-white: #ffffff;
$c-very-pale-blue: hsl(225, 100%, 98%);
$c-pale-blue: hsl(225, 100%, 94%);
$c-desaturated-blue: hsl(224, 23%, 55%);
$c-blue-violett: #766cf1;
$c-bright-blue: hsl(245, 75%, 52%);
$c-dark-blue: hsl(223, 47%, 23%);

$colors: (
  'white': $c-white,
  'very-pale-blue': $c-very-pale-blue,
  'pale-blue': $c-pale-blue,
  'desaturated-blue': $c-desaturated-blue,
  'blue-violett': $c-blue-violett,
  'bright-blue': $c-bright-blue,
  'dark-blue': $c-dark-blue,
);
