$btn-height: 58px;

.btn {
  --btn-radius: var(--px-29);

  font-size: var(--f-fs-16);
  font-weight: var(--f-fw-black);
  line-height: var(--f-lh-26);

  display: inline-block;
  border-radius: var(--btn-radius);
  border: none;
  cursor: pointer;
  
  &--large {
    width: 193px;
    height: $btn-height;
  }

  &--small {
    width: 139px;
    height: $btn-height;
  }
}
