@use '../../utils/' as *;

.header__description {
  --header-text-mt: var(--px-48);
  --header-text-max-width: var(--px-375);

  margin-top: var(--header-text-mt);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--header-text-max-width);

  @include mq-min-width('md') {
    --header-text-mt: var(--px-72);
    --header-text-max-width: var(-px-457);
  }

  @include mq-min-width('lg') {
    --header-text-mt: var(--px-44);
    --header-text-max-width: var(--px-540);
  }

  &-title {
    --header-title-fs: var(--f-fs-40);
    --header-title-lh: var(--f-lh-44);

    font-size: var(--header-title-fs);
    line-height: var(--header-title-lh);
    font-weight: var(--f-fw-black);
    text-align: center;

    @include mq-min-width('md') {
      --header-title-fs: var(--f-fs-48);
      --header-title-lh: var(--f-lh-48);
    }

    @include mq-min-width('lg') {
      --header-title-fs: var(--f-fs-64);
      --header-title-lh: var(--f-lh-64);
    }
  }

  &-text {
    --header-text-mt: var(--px-24);
    --header-text-ml: var(--px-24);
    --header-text-mr: var(--px-24);
    --header-text-fs: var(--f-fs-16);

    margin: var(--header-text-mt) var(--header-text-mr) 0 var(--header-text-ml);
    font-size: var(--header-text-fs);
    line-height: var(--f-lh-26);
    font-weight: var(--f-fw-regular);
    text-align: center;

    @include mq-min-width('md') {
      --header-text-ml: auto;
      --header-text-mr: auto;
    }

    @include mq-min-width('lg') {
      --header-text-mt: var(--px-34);
      --header-text-fs: var(--f-fs-18);
    }
  }

  &-action {
    --header-action-mt: var(--px-32);

    display: flex;
    flex-direction: column;
    gap: var(--px-16);
    align-items: center;

    margin-top: var(--header-action-mt);

    @include mq-min-width('md') {
      flex-direction: row;
    }
  }
}
