@use '../../utils/' as *;

.step1 {
  &__images {
    --step1-images-mt: var(--px-64);
    --step1-ml: var(--px-24);
    --step1-mr: var(--px-24);
    --step1-images-gap: var(--px-25);

    margin: var(--step1-images-mt) var(--step1-mr) 0 var(--step1-ml);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--step1-images-gap);

    @include mq-min-width('md') {
      --step1-images-mt: var(--px-67);
      --step1-ml: var(--px-39);
      --step1-mr: var(--px-40);
      --step1-images-gap: var(--px-11);
      grid-template-columns: repeat(4, 1fr);
    }

    @include mq-min-width('lg') {
      --step1-images-mt: var(--px-64);
      --step1-ml: auto;
      --step1-mr: auto;
      --step1-images-gap: var(--px-30);
    }

    & img {
      --step1-image-max-width: var(--px-164);
      --step1-image-max-height: var(--px-156);

      border-radius: var(--px-15);
      max-width: var(--step1-image-max-width);
      max-height: var(--step1-image-max-height);
    }

    @include mq-min-width('lg') {
      --step1-image-max-width: var(--px-255);
      --step1-image-max-height: var(--px-242);
    }
  }
}
