@use '../../utils/' as *;

.step2-content {
  --step2-content-pt: var(--px-92);
  --step2-content-pl: var(--px-24);
  --step2-content-pr: var(--px-24);
  --step2-content-pb: var(--px-72);
  --step2-content-bg-image: url('./assets/image-footer-mobile.jpg');

  position: absolute;
  top: var(--px-112);
  z-index: 0;

  padding-top: var(--step2-content-pt);
  padding-bottom: var(--step2-content-pb);
  padding-inline: var(--step2-content-pl) var(--step2-content-pr);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;

  background-image: var(--step2-content-bg-image);
  background-size: cover;
  background-blend-mode: soft-light;

  @include mq-min-width('md') {
    --step2-content-pb: var(--px-66);
    --step2-content-bg-image: url('./assets/image-footer-tablet.jpg');
  }

  @include mq-min-width('lg') {
    --step2-content-pt: var(--px-116);
    --step2-content-pl: auto;
    --step2-content-pr: auto;
    --step2-content-pb: var(--px-104);
    --step2-content-bg-image: url('./assets/image-footer-desktop.jpg');

    flex-direction: row;
  }

  &__title {
    --step2-content-max-width: var(--px-327);
    --step2-content-title-fs: var(--f-fs-32);
    --step2-content-title-lh: var(--f-lh-36);

    font-size: var(--step2-content-title-fs);
    line-height: var(--step2-content-title-lh);
    font-weight: var(--f-fw-black);
    max-width: var(--step2-content-max-width);

    @include mq-min-width('md') {
      --step2-content-max-width: var(--px-457);
      --step2-content-title-fs: var(--f-fs-40);
      --step2-content-title-lh: var(--f-lh-44);
    }

    @include mq-min-width('lg') {
      text-align: left;
      --step2-content-max-width: var(--px-350);
      --step2-content-title-fs: var(--f-fs-40);
      --step2-content-title-lh: var(--f-lh-44);
    }
  }

  &__text {
    --step2-content-text-mt: var(--px-24);
    --step2-max-width: var(--px-327);

    margin-top: var(--step2-content-text-mt);
    font-size: var(--f-fs-18);
    font-weight: var(--f-fw-regular);
    line-height: var(--f-lh-26);
    max-width: var(--step2-max-width);

    @include mq-min-width('md') {
      --step2-content-text-mt: var(--px-32);
      --step2-max-width: var(--px-573);
    }

    @include mq-min-width('lg') {
      --step2-content-text-mt: 0;
      --step2-max-width: var(--px-350);

      margin-inline: var(--px-125) var(--px-92);
    }
  }

  &__actions {
    --step2-content-actions-mt: var(--px-32);

    margin-top: var(--step2-content-actions-mt);

    @include mq-min-width('md') {
      --step2-content-actions-mt: var(--px-40);
    }

    @include mq-min-width('lg') {
      --step2-content-actions-mt: 0;
    }
  }
}
