@use '../../utils/' as *;

.step2 {
  --step2-mt: var(--px-64);

  margin-top: var(--step2-mt);
  position: relative;

  @include mq-min-width('md') {
    --step2-mt: var(--px-80);
  }

  & img {
    z-index: 1;
  }
}