// $c-white: #fff;
// $c-pale-blue: hsl(223, 100%, 88%);
// $c-light-blue: hsl(223, 87%, 70%);
// $c-blue: hsl(223, 87%, 63%);
// $c-very-dark-blue: hsl(209, 33%, 12%);
// $c-gray: hsl(0, 0%, 59%);
// $c-light-red: hsl(354, 100%, 66%);

// $colors: (
//   'white': $c-white,
//   'pale-blue': $c-pale-blue,
//   'blue': $c-blue,
//   'very-dark-blue': $c-very-dark-blue,
//   'gray': $c-gray,
//   'light-red': $c-light-red,
// );
