@use 'sass:color';

$primary-color: hsl(233, 54%, 16%);
$secondary-white: hsl(0, 0%, 100%);
$secondary-dark-white: #f0f1ff;
$secondary-gray: hsl(232, 10%, 56%);
$secondary-blue-gray: hsl(234, 25%, 52%);
$secondary-purple: hsl(341, 100%, 83%);
$secondary-orange: #ff6f48;
$secondary-dark-purple: #f02aa6;
$secondary-blue: #4851ff;

$lite-gradient: linear-gradient(
  to bottom,
  $secondary-orange 0%,
  $secondary-dark-purple 100%
);
$dark-gradient: linear-gradient(
  to bottom,
  $secondary-blue,
  $secondary-dark-purple
);
$courses-gradient: linear-gradient(
  to bottom,
  $secondary-white,
  $secondary-dark-white
);

$colors: (
  'primary': $primary-color,
  'secondary-white': $secondary-white,
  'secondary-blue-gray': $secondary-blue-gray,
  'secondary-gray': $secondary-gray,
  'secondary-purple': $secondary-purple,
  'secondary-lite-gradient': $lite-gradient,
  'secondary-dark-gradient': $dark-gradient,
  'secondary-courses-gradient': $courses-gradient,
  'secondary-dark-white': $secondary-dark-white,
  'secondary-orange': $secondary-orange,
  'secondary-dark-purple': $secondary-dark-purple,
  'secondary-blue': $secondary-blue,
);
