// Example:
$f-size-base: 16px;
$f-family: 'Libre Franklin', sans-serif;

$f-weight-300: 300;
$f-weight-600: 600;
$f-weight-700: 700;

$f-weight: (
  'light': $f-weight-300,
  'normal': $f-weight-600,
  'bold': $f-weight-700,
);
