@use 'functions' as f;
@use 'typography' as t;

$px-10: 10px;
$px-16: 16px;
$px-21: 21px;
$px-24: 24px;
$px-26: 26px;
$px-28: 28px;
$px-29: 29px;
$px-32: 32px;
$px-36: 36px;
$px-38: 38px;
$px-39: 39px;
$px-40: 40px;
$px-46: 46px;
$px-56: 56px;
$px-80: 80px;
$px-86: 86px;
$px-99: 99px;
$px-186: 186px;

$spacing: (
  '10': f.px-to-rem($px-10, t.$fs-base),
  '16': f.px-to-rem($px-16, t.$fs-base),
  '21': f.px-to-rem($px-21, t.$fs-base),
  '24': f.px-to-rem($px-24, t.$fs-base),
  '26': f.px-to-rem($px-26, t.$fs-base),
  '28': f.px-to-rem($px-28, t.$fs-base),
  '29': f.px-to-rem($px-29, t.$fs-base),
  '32': f.px-to-rem($px-32, t.$fs-base),
  '36': f.px-to-rem($px-36, t.$fs-base),
  '38': f.px-to-rem($px-38, t.$fs-base),
  '39': f.px-to-rem($px-39, t.$fs-base),
  '40': f.px-to-rem($px-40, t.$fs-base),
  '46': f.px-to-rem($px-46, t.$fs-base),
  '56': f.px-to-rem($px-56, t.$fs-base),
  '80': f.px-to-rem($px-80, t.$fs-base),
  '86': f.px-to-rem($px-86, t.$fs-base),
  '99': f.px-to-rem($px-99, t.$fs-base),
  '186': f.px-to-rem($px-186, t.$fs-base),
);
