$f-ff: 'Inter';
$f-regular-file: './assets/fonts/Inter-Regular.ttf';
$f-bold-file: './assets/fonts/Inter-Bold.ttf';
$f-x-bold-file: './assets/fonts/Inter-ExtraBold.ttf';
$f-ff-primary: $f-ff, sans-serif;

$f-fs-base: 16px;

$f-fs: (
  '15': 15px,
  '16': $f-fs-base,
  '18': 18px,
  '20': 20px,
  '32': 32px,
  '40': 40px,
  '56': 56px,
);

$f-fw-regular: 400;
$f-fw-bold: 700;
$f-fw-x-bold: 800;

$f-fw: (
  'regular': $f-fw-regular,
  'bold': $f-fw-bold,
  'x-bold': $f-fw-x-bold,
);

$f-lh: (
  '24': 24px,
  '26': 26px,
  '32': 32px,
  '40': 40px,
  '56': 56px,
);

/*
Example:
$f-ls: (
  'minus-0-2': -0.2px
);
*/
$f-ls: ();
