$colors: (
  'primary-200': hsl(240, 21%, 20%),
  'primary-600': hsl(240, 10%, 57%),
  'primary-900': hsl(0, 0%, 98%),
  'secondary1-400': hsl(192, 37%, 48%),
  'secondary1-600': hsl(192, 54%, 64%),
  'secondary1-800': hsl(192, 90%, 77%),
  'secondary2-500': hsl(268, 34%, 53%),
  'secondary2-700': hsl(268, 55%, 71%),
  'secondary2-800': hsl(268, 100%, 86%),
);