$f-ff: 'Red Hat Display';
$f-regular-file: './assets/fonts/RedHatDisplay-Regular.ttf';
$f-bold-file: './assets/fonts/RedHatDisplay-Bold.ttf';
$f-black-file: './assets/fonts/RedHatDisplay-Black.ttf';
$f-ff-primary: $f-ff, sans-serif;

$f-fs-base: 16px;


$f-fs: (
  '16': $f-fs-base,
  '18': 18px,
  '32': 32px,
  '40': 40px,
  '48': 48px,
);

$f-fw-regular: 400;
$f-fw-bold: 700;
$f-fw-black: 900;

$f-fw: (
  'regular': $f-fw-regular,
  'bold': $f-fw-bold,
  'black': $f-fw-black,
);


$f-lh: (
  '26': 26px,
  '32': 32px,
  '36': 36px,
  '44': 44px,
  '48': 48px,
);


$f-ls: (
  '4': 4px
);
