$f-ff: 'Red Hat Display';
$f-regular-file: './assets/fonts/RedHatDisplay-Regular.ttf';
$f-bold-file: './assets/fonts/RedHatDisplay-Bold.ttf';
$f-black-file: './assets/fonts/RedHatDisplay-Black.ttf';
$f-ff-primary: $f-ff, sans-serif;

$f-fs-base: 16px;

/*
Example:
$f-sizes: (
  '16': 16px
);
*/
$f-fs: ();

$f-fw-regular: 400;
$f-fw-bold: 700;
$f-fw-black: 900;

$f-fw: (
  'regular': $f-fw-regular,
  'bold': $f-fw-bold,
  'black': $f-fw-black,
);

/*
Example: 
$f-lh: (
  '26': 26px
);
*/
$f-lh: ();

/*
Example:
$f-ls: (
  'minus-0-2': -0.2px
);
*/
$f-ls: ();
