$color-green: hsl(75, 94%, 57%);
$color-white: hsl(0, 0%, 100%);
$color-gray: hsl(0, 0%, 20%);
$color-dark-gray: hsl(0, 0%, 12%);
$color-black: hsl(0, 0%, 8%);

$text-size-default: 14px;

$font-family-default: 'Inter', sans-serif;

$font-weight-light: 400;
$font-weight-regular: 600;
$font-weight-bold: 700;
