@import 'scss/helper';
@import 'scss/variables';
@import 'scss/colors';
@import 'scss/typography';

@include create-utility-classes('fw', 'font-weight', $weights);
@include create-utility-classes('fc', 'color', $colors);
@include create-utility-classes('bgc', 'background', $colors);

@mixin create-linear-gradient() {
  background-image: linear-gradient(to right, #ffffff, #fff4f4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  @include create-linear-gradient();
}

.header {
  margin: px-to-em(31px) 0 px-to-em(32px) px-to-em(32px);
}

.header__image {
  width: 29.2%;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

.content__image {
  min-width: px-to-em(376px);
  min-height: px-to-em(250px);
  background-image: url('./img/hero-mobile.jpg');
  background-size: cover;
}

.content__text {
  margin: px-to-em(64px) px-to-em(32px);
  text-align: center;
}

.content__text__title {
  font-size: px-to-em(40px);
  text-transform: uppercase;
  letter-spacing: px-to-rem(10.83px);
  line-height: px-to-rem(42px);
}

.content__text__teaser {
  display: block;
}

.content__text__description {
  margin-top: px-to-rem(16px);
  font-size: px-to-rem(14px);
}

.content__form {
  margin-top: px-to-rem(32px);
  display: flex;
  width: 100%;
}

.content__form__input {
  flex-grow: 1;
  width: 100%;
  padding: px-to-rem(11px) px-to-rem(24px);

  border: none;
  border: 1px solid map-get($colors, 'desaturated-red');
  border-radius: px-to-rem(28px);

  @include create-linear-gradient();
}

.content__form__input_error {
  border: 2px solid map-get($colors, 'soft-red');
}

.content__form__errormessage {
  color: map-get($colors, 'soft-red');
  margin-top: px-to-rem(8px);
  text-align: left;
  padding-left: px-to-rem(24px);
  font-size: px-to-rem(13px);
}

.content__form__button {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: px-to-rem(-50px);
  padding-left: px-to-rem(20px);
  padding-right: px-to-rem(20px);
  border-radius: px-to-rem(28px);
  border: 1px solid map-get($colors, 'desaturated-red');
  background-image: linear-gradient(to right, #f8bfbf, #ee8b8b);
  cursor: pointer;
}

.content__form__erroricon {
  position: absolute;
  right: 95px;
  padding-top: px-to-rem(7px);
  justify-self: center;
}

.content__form__button:focus,
.content__form__input:focus {
  outline: none;
}

// @media (min-width: 1440px) {
@media (min-width: 1250px) {
  .content {
    grid-template-areas:
      'header image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image'
      'text image';
    gap: 0;
  }

  .header {
    grid-area: header;
    margin: px-to-rem(68.45px) px-to-rem(165px);
  }

  .header__image {
    width: 31.7%;
  }

  .content__image {
    grid-area: image;
    width: 42.3svw;
    height: 100vh;
    background-image: url('./img/hero-desktop.jpg');
  }
  .content__text {
    grid-area: text;
    margin: px-to-rem(68.45px) px-to-rem(165px);
    text-align: left;
    max-width: 445px;
  }

  .content__text__title {
    font-size: px-to-em(64px);
    letter-spacing: px-to-rem(17.32px);
    line-height: px-to-rem(64px);
  }

  .content__text__description {
    margin-top: px-to-rem(32px);
    font-size: px-to-rem(16px);
    line-height: px-to-rem(28px);
  }

  // 16px
  .content__form__errormessage {
    // color: map-get($colors, 'soft-red');
    margin-top: px-to-rem(8px);
    font-size: px-to-rem(16px);
  }
}
