@use '../abstracts/mixins' as *;

.button {
  --btn-fs: var(--fs-16);
  --btn-lh: var(--flh-28);
  --btn-w: 140px;
  --btn-h: 48px;
  --btn-bg-clr: var(--clr-primary-200);
  --btn-clr: var(--clr-secondary-1000);

  font-size: var(--btn-fs);
  font-weight: var(--fw-bold);
  line-height: var(--btn-lh);
  margin-bottom: var(--f-paragraph-spacing-1);

  background: var(--btn-bg-clr);
  color: var(--btn-clr);

  width: var(--btn-w);
  height: var(--btn-h);
  border: 0;
  border-radius: 28px;

  cursor: pointer;

  &:hover {
    --btn-bg-clr: var(--clr-primary-500);
  }

  &--dark {
    --btn-bg-clr: var(--clr-gradient-dark);
    &:hover {
      --btn-bg-clr: var(--clr-secondary-700);
      // opacity: 0.5;
    }
  }

  &--lite {
    --btn-bg-clr: var(--clr-gradient-lite);

    @include mq-min-width('md') {
      --btn-w: 167px;
      --btn-h: 56px;
      --btn-lh: var(--flh-26);
    }

    &:hover {
      --btn-bg-clr: var(--clr-secondary-800);
    }
  }

  &--no-border {
    --btn-fs: var(--fs-18);
    --btn-w: auto;
    --btn-h: auto;
    --btn-bg-clr: var(--clr-secondary-1000);
    --btn-clr: var(--clr-secondary-500);

    margin-left: 0;

    &:hover {
      --btn-bg-clr: var(--clr-secondary-1000);
      --btn-clr: var(--clr-secondary-800);
    }
  }
}
