@use '../abstracts/mixins' as *;

.hero {
  --hero-margin-t: var(--space-38);
  --hero-margin-l: var(--space-16);
  --hero-margin-r: var(--space-16);
  --hero-column-max-width: var(--space-398);

  margin: var(--hero-margin-t) var(--hero-margin-r) 0 var(--hero-margin-l);

  @include mq-min-width('md') {
    --hero-margin-t: var(--space-99);
    --hero-margin-l: var(--space-39);
    --hero-margin-r: 0px;
  }

  @include mq-min-width('lg') {
    --hero-margin-l: var(--space-165);
    --hero-margin-t: var(--space-186);
  }

  &__column {
    width: 100%;

    @include mq-min-width('md') {
      width: min(var(--hero-column-max-width), 100%);
    }

    @include mq-min-width('lg') {
      --hero-column-max-width: var(--space-457);
    }
  }

  &__title {
    --hero-title-fs: var(--fs-40);

    font-size: var(--hero-title-fs);
    margin-bottom: var(--f-paragraph-spacing-1);
    font-weight: var(--fw-extra-bold);

    @include mq-min-width('lg') {
      --hero-title-fs: var(--fs-56);
    }
  }

  &__description {
    --hero-description-mt: var(--space-26);
    --hero-description-fs: var(--fs-16);
    --hero-description-flh: var(--flh-26);

    color: var(--clr-primary-600);
    font-weight: var(--fw-medium);
    font-size: var(--hero-description-fs);
    line-height: var(--hero-description-flh);

    margin-top: var(--hero-description-mt);
    margin-bottom: var(--f-paragraph-spacing-1);

    @include mq-min-width('md') {
      --hero-description-mt: var(--space-25);
    }

    @include mq-min-width('lg') {
      --hero-description-mt: var(--space-29);
      --hero-description-fs: var(--fs-18);
      --hero-description-flh: var(--flh-28);
    }
  }

  &__action {
    --hero-action-mt: var(--space-24);

    margin-top: var(--hero-action-mt);

    @include mq-min-width('lg') {
      --hero-action-mt: var(--space-40);
    }
  }

  &__image {
    --hero-image-mt: var(--space-46);

    // 327x301
    width: 95.339%;
    margin: var(--hero-image-mt) auto 0;
    display: block;

    @include mq-min-width('md') {
      margin: 0;
      position: absolute;
      z-index: -1;

      // 640.71x640
      width: 750px;
      height: 750px;
      top: -100px;
      right: -335px;
    }

    @include mq-min-width('lg') {
      width: 990px;
      height: 937px;
      top: -130px;
      right: -325px;
    }
  }
}
