@use '../abstracts/mixins' as *;

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__items {
    list-style: none;
  }

  &__logo {
    // 89x35
    width: 79.465%;

    @include mq-min-width('lg') {
      // 111.17x27.68
      width: 99.27%;
    }
  }
}
