$px: (
  'm143': -143px,
  'm94': -94px,
  'm53': -53px,
  '1': 1px,
  // Button
  '2': 2px,
  // Button
  '4': 4px,
  '16': 16px,
  '24': 24px,
  '28': 28px,
  '30_5': 30.5px,
  '31': 31px,
  '32': 32px,
  '37': 37px,
  '39': 39px,
  '40': 40px,
  '44': 44px,
  '46': 46px,
  '48': 48px,
  '55': 55px,
  '56': 56px,
  '58': 58px,
  '64': 64px,
  '74': 74px,
  '80': 80px,
  '97': 97px,
  '100': 100px,
  '122': 122px,
  '133': 133px,
  '157': 157px,
  '172': 172px,
  '184': 184px,
  '203': 203px,
  '214': 214px,
  '281': 281px,
  '296': 296px,
  '320': 320px,
  '514': 514px,
);
