$f-ff: 'Manrope';
$f-ff2: 'Fraunces';
$f-regular-file: './assets/fonts/Manrope-Regular.ttf';
$f-bold-file: './assets/fonts/Fraunces_144pt-SemiBold.ttf';
$f-ff-primary: $f-ff, sans-serif;
$f-ff2-primary: $f-ff2, sans-serif;

$f-fs-base: 16px;

$f-fs: (
  '16': $f-fs-base,
  '18': 18px,
  '32': 32px,
  '50': 50px,
  '56': 56px,
  '80': 80px,
);

$f-fw-regular: 400;
$f-fw-semibold: 600;

$f-fw: (
  'regular': $f-fw-regular,
  'semibold': $f-fw-semibold,
);

$f-lh: (
  '32': 32px,
  '40': 40px,
  '50': 50px,
  '64': 64px,
  '80': 80px,
);

/*
Example:
$f-ls: (
  'minus-0-2': -0.2px
);
*/
$f-ls: ();
