@import 'scss/helper';
@import 'scss/variables';
@import 'scss/utilities';
@import 'scss/inputs';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: 'Poppins', sans-serif;
  background: $color-red;
  color: $color-white;
}

main::before {
  content: '';
  background: url('./assets/bg-intro-desktop.png') no-repeat center center/cover;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  @include mq-max-width('sm') {
    background: url('./assets/bg-intro-mobile.png') no-repeat center
      center/cover;
  }
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    margin: px-to-em(121px) px-to-em(165px);
    gap: px-to-em(45px);

    @include mq-max-width('sm') {
      flex-direction: column;
      width: 100%;
      margin: px-to-em(88px) px-to-em(24px) px-to-em(68px);
      gap: px-to-em(64px);
    }
  }

  &__header {
    max-width: 525px;
    align-self: center;

    @include mq-max-width('sm') {
      text-align: center;
      // max-width: 327px;
    }

    &__title {
      font-size: px-to-rem(50px);
      letter-spacing: px-to-rem(-0.52px);
      line-height: px-to-rem(55px);

      @include mq-max-width('sm') {
        font-size: px-to-rem(28px);
        letter-spacing: px-to-rem(-0.29px);
        line-height: px-to-rem(36px);
      }
    }

    &__description {
      line-height: px-to-rem(26px);
      margin-top: px-to-rem(11px);

      @include mq-max-width('sm') {
        margin-top: px-to-rem(16px);
      }
    }
  }

  &__form {
    max-width: 540px;

    @include mq-max-width('sm') {
      // max-width: 327px;
    }

    &__accent {
      font-size: px-to-rem(15px);
      line-height: px-to-rem(26px);
      letter-spacing: px-to-rem(0.27px);
      text-align: center;
      background: $color-blue;
      border-radius: px-to-rem(10px);
      padding-top: px-to-rem(17px);
      padding-bottom: px-to-rem(17px);

      @include mq-max-width('sm') {
        padding: px-to-rem(18px) px-to-rem(67px);
      }
    }

    &__container {
      margin-top: px-to-rem(24px);
      background: $color-white;
      padding: px-to-rem(20px) px-to-rem(40px);
      border-radius: px-to-rem(10px);

      @include mq-max-width('sm') {
        padding: px-to-rem(8px) px-to-rem(24px);
      }
    }
  }

  &__terms {
    font-size: px-to-rem(11px);
    text-align: center;
    line-height: px-to-rem(26px);
    margin-top: px-to-rem(8px);
    color: $color-grayish-blue;

    @include mq-max-width('sm') {
      line-height: px-to-rem(21px);
    }
  }

  &__errormessage {
    color: $color-red;
    font-size: px-to-rem(11px);
    text-align: right;
    margin-top: px-to-rem(6px);
    font-style: italic;
    font-weight: $font-weight-normal;
  }

  &__inputarea {
    position: relative;
  }

  &__erroricon {
    position: absolute;
    top: 30px;
    left: 85%;
  }
}
