@import 'utilities';
@import 'functions';
@import 'media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// debug-section
// main,
// article,
// header,
// section,
// footer {
//   @include debugBorders();
//   @include debugSpacing();
// }

body {
  font-family: $font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  background: $primary-color;

  main {
    @include centerFlexContent();
    height: 96vh;

    h1 {
      display: none;
    }

    article {
      background: $article-bg;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;

      header {
        img {
          width: 100%;
          height: 100%;
        }
      }

      section {
        h3,
        h2,
        h4 {
          margin-top: 1.5rem;
        }
        p {
          margin-top: 1rem;
        }
      }

      footer {
        margin-top: 2.5rem;
        display: flex;
        gap: 0.5rem;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
