@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg-[url("/background-pattern-mobile.svg")] bg-stretch-x bg-top-x */
.custom-bg {
  background-image: url('/background-pattern-mobile.svg');
  background-repeat: repeat-x;
  background-size: 100% auto;
  background-position: top;
}

@media (min-width: 640px) {
  .custom-bg {
    background-image: url('/background-pattern-desktop.svg');
    background-repeat: repeat-x;
    background-size: 100% auto;
    background-position: top;
  }
}
