@use '../abstracts/mixins' as *;

.footer {
  --footer-margin-t: var(--spacing-64);
  --footer-margin-r: var(--spacing-24);
  --footer-margin-l: var(--spacing-24);
  --footer-margin-b: var(--spacing-80);

  --footer-gap: var(--spacing-64);

  display: flex;
  flex-direction: column;
  gap: var(--footer-gap);

  margin: var(--footer-margin-t) var(--footer-margin-r) var(--footer-margin-b)
    var(--footer-margin-l);

  @include mq-min-width('md') {
    --footer-margin-t: var(--spacing-87);
    --footer-margin-l: var(--spacing-33);
    --footer-margin-r: var(--spacing-39);
    --footer-margin-b: var(--spacing-85);
    flex-direction: row;
  }

  @include mq-min-width('lg') {
    --footer-margin-t: var(--spacing-87);
    --footer-margin-r: var(--spacing-165);
    --footer-margin-l: var(--spacing-165);
    --footer-margin-b: var(--spacing-91);
    --footer-gap: 0;

    justify-content: space-between;
  }

  &__image-text {
    --image-text-gap: var(--spacing-32);
    display: flex;
    flex-direction: column;
    gap: var(--image-text-gap);

    @include mq-min-width('lg') {
      flex-direction: row;
      --image-text-gap: var(--spacing-138);
    }
  }

  &__image {
    display: block;
    width: 146.09px;
    height: 32px;
  }

  &_text {
    line-height: var(--flh-26);
    margin-bottom: var(--spacing-1);

    @include mq-min-width('lg') {
      max-width: 366px;
    }

    &-accent {
      font-weight: var(--fw-bold);
    }
  }

  &__social {
    display: flex;
    gap: var(--spacing-20);

    @include mq-min-width('md') {
      align-self: flex-end;
    }

    @include mq-min-width('md') {
      align-self: center;
    }
  }
}
