@use '../abstracts/mixins' as *;

.header {
  --header-margin-t: var(--spacing-40);
  --header-margin-l: var(--spacing-24);
  --header-v-gap: var(--spacing-64);

  margin-top: var(--header-margin-t);
  margin-left: var(--header-margin-l);

  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--header-v-gap);

  @include mq-min-width('md') {
    --header-margin-t: var(--spacing-62);
    --header-margin-l: var(--spacing-39);
    --header-v-gap: var(--spacing-95);
  }

  &__logo {
    max-width: 100%;
    display: block;
  }

  &__background-pattern {
    display: none;

    @include mq-min-width('md') {
      display: block;
      position: absolute;
      width: 267px;
      height: 400px;
      top: calc(var(--header-margin-t) * -1.6);
      right: -40px;
    }
  }
}
