@use '../abstracts/mixins' as *;
.product {
  &__header {
    --product-header-fs: var(--fs-32);
    --product-header-lh: var(--flh-40);
    --product-header-pt: var(--spacing-48);
    --product-header-pr: var(--spacing-37);
    --product-header-pl: var(--spacing-36);

    font-size: var(--product-header-fs);
    line-height: var(--product-header-lh);
    font-weight: var(--fw-bold);
    margin-bottom: var(--spacing-1);
    padding: var(--product-header-pt) var(--product-header-pr) 0
      var(--product-header-pl);

    @include mq-min-width('md') {
      --product-header-pt: var(--spacing-48);
      --product-header-pr: var(--spacing-49);
      --product-header-pl: var(--spacing-48);
    }
  }

  &__description {
    --product-description-fs: var(--fs-18);
    --product-description-lh: var(--flh-28);
    --product-description-pt: var(--spacing-12);
    --product-description-pr: var(--spacing-37);
    --product-description-pl: var(--spacing-36);

    font-size: var(--product-description-fs);
    line-height: var(--product-description-lh);
    font-weight: var(--fw-regular);
    margin-bottom: var(--spacing-1);

    padding: var(--product-description-pt) var(--product-description-pr) 0
      var(--product-description-pl);

    @include mq-min-width('md') {
      --product-description-pr: var(--spacing-49);
      --product-description-pl: var(--spacing-48);
    }
  }

  &__price {
    --product-price-fs: var(--fs-20);
    --product-price-lh: var(--flh-32);
    --product-price-pt: var(--spacing-36);
    --product-price-pl: var(--spacing-42);

    font-size: var(--product-price-fs);
    line-height: var(--product-price-lh);
    padding: var(--product-price-pt) 0 0 var(--product-price-pl);
    margin-bottom: var(--spacing-1);
    letter-spacing: var(--f-ls-minux-0-2);
    font-weight: var(--fw-regular);

    display: flex;
    align-items: center;
    gap: var(--spacing-16);

    @include mq-min-width('md') {
      --product-price-pl: var(--spacing-54);
    }

    &-acent {
      font-size: var(--fs-65);
      line-height: var(--flh-52);
      font-weight: var(--fw-bold);
      margin-bottom: var(--spacing-1);
    }
  }

  &__actions {
    --product-actions-mt: var(--spacing-32);
    --product-actions-mb: var(--spacing-48);
    --product-actions-pl: var(--spacing-42);
    --product-action--pr: var(--spacing-37);

    margin-top: var(--product-actions-mt);
    margin-bottom: var(--product-actions-mb);
    padding-inline: var(--product-actions-pl) var(--product-action--pr);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);

    @include mq-min-width('md') {
      --product-actions-pl: var(--spacing-54);
      --product-action--pr: var(--spacing-49);
    }
  }
}
