@use '../abstracts/mixins' as *;

.product {
  --product-height: 1024px;

  position: relative;
  height: var(--product-height);
  background-color: var(--clr-primary-900);

  display: flex;

  align-items: center;
  flex-direction: column;

  @include mq-min-width('md') {
    --product-height: 834px;
    background-color: transparent;
    align-items: normal;
  }

  @include mq-min-width('lg') {
    --product-height: 928px;
  }

  &__image {
    position: absolute;
    margin: auto;
    display: block;
    width: 208.97px;
    height: 430px;
    z-index: 1;

    @include mq-min-width('md') {
      left: var(--spacing-64);
      width: 270px;
      height: 556px;
    }

    @include mq-min-width('lg') {
      left: var(--spacing-102);
      width: 312px;
      height: 642px;
    }
  }

  &__background {
    --background-position-top: var(--spacing-98);
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: var(--spacing-12);

    background-color: var(--clr-primary-100);
    width: 100%;
    height: 600px;
    top: var(--background-position-top);

    @include mq-min-width('md') {
      --background-position-top: var(--spacing-213);
    }

    @include mq-min-width('lg') {
      max-width: 1100px;
    }

    &-img {
      display: block;
      width: 280px;
      height: 420px;

      @include mq-min-width('lg') {
        width: 312px;
        height: 468px;
      }
    }
  }

  &__content {
    --content-left: 0;
    --content-max-width: 100%;

    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: var(--clr-secondary-600);
    color: var(--clr-primary-900);
    border-radius: var(--spacing-12);
    left: var(--content-left);
    max-width: var(--content-max-width);

    @include mq-min-width('md') {
      --content-left: var(--spacing-239);
      --content-max-width: var(--spacing-399);
    }

    @include mq-min-width('lg') {
      --content-left: var(--spacing-569);
      --content-max-width: var(--spacing-446);
    }
  }
}
