@use 'functions' as *;

$ff-primary: 'Plus Jakarta Sans', sans-serif;

$fs-base: 16px;

$fs-16: $fs-base;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-40: 40px;

$f-sizes: (
  '16': px-to-rem($fs-16, $fs-base),
  '18': px-to-rem($fs-18, $fs-base),
  '20': px-to-rem($fs-20, $fs-base),
  '24': px-to-rem($fs-24, $fs-base),
  '40': px-to-rem($fs-40, $fs-base),
);

$f-weight-500: 500;
$f-weight-700: 700;
$f-weight-800: 800;

$f-weight: (
  'medium': $f-weight-500,
  'bold': $f-weight-700,
  'extra-bold': $f-weight-800,
);

$line-height-26: 26px;
$line-height-28: 28px;
$line-height-32: 32px;

$f-line-height: (
  '26': px-to-rem($line-height-26, $fs-base),
  '28': px-to-rem($line-height-28, $fs-base),
  '32': px-to-rem($line-height-32, $fs-base),
);

$f-paragraph-spacing-1: 1px;

$f-paragraph-spacing: (
  '1': $f-paragraph-spacing-1,
);
