@use '../utils/' as *;

.footer {
  --footer-mt: var(--px-74);
  --footer-mb: var(--px-64);

  margin-top: var(--footer-mt);
  margin-bottom: var(--footer-mb);

  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq-min-width('md') {
    --footer-mt: var(--px-80);
    --footer-mb: var(--px-122);
  }

  &__links {
    --footer-links-mt: var(--px-58);
    --footer-links-mb: var(--px-64);
    --footer-links-gap: var(--px-28);

    display: flex;
    gap: var(--footer-links-gap);

    margin-top: var(--footer-links-mt);
    margin-bottom: var(--footer-links-mb);
  }
}
