.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__navigation {
    --navigation-pt: var(--px-37);
    --navigation-pl: var(--px-16);
    --navigation-pr: var(--px-16);

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--navigation-pt) var(--navigation-pl) var(--navigation-pr);
  }

  &__hero {
    --hero-mt: var(--px-64);
    --hero-ml: var(--px-16);
    --hero-mr: var(--px-16);

    margin: var(--hero-mt) var(--hero-ml) var(--hero-mr);
    text-align: center;

    &-actions {
      --hero-actions-mt: var(--px-40);
      --hero-actions-mb: var(--px-157);

      margin-top: var(--hero-actions-mt);
      margin-bottom: var(--hero-actions-mb);

      &-button {
        width: var(--px-133);
        height: var(--px-55);
      }
    }
  }
}
