@mixin input-placeholder-font-style() {
  font-size: px-to-rem($placeholder-font-size);
  color: $color-gray;
  font-weight: $font-weight-bold;
}

input {
  display: inline-block;
  width: 100%;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  padding: px-to-rem(15px) px-to-rem(32px);
  border: 2px solid $color-light-gay;
  border-radius: px-to-rem(5px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  color: $color-gray;
  font-weight: $font-weight-bold;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border-color: $color-blue;
}

// causes side effects on load and nothing is entered
// input[type='text']:invalid,
// input[type='email']:invalid,
// input[type='password']:invalid {
//   border-color: $color-red;
//   color: $color-red;
// }

input[type='submit'] {
  padding: px-to-rem(15px);
  border-radius: px-to-rem(5px);
  background: $color-green;
  color: $color-white;
  font-weight: $font-weight-bold;
  font-size: px-to-rem($submit-btn-font-size);
  line-height: px-to-rem(26px);
  border: 1px solid $color-green;
  cursor: pointer;
  text-transform: uppercase;
}

input[type='submit']:hover {
  background-color: $color-light-green;
}

/* modern browser */
input::placeholder {
  @include input-placeholder-font-style;
}

/* WebKit-browser like Chrome and Safari */
input::-webkit-input-placeholder {
  @include input-placeholder-font-style;
}

/* browser-specific CSS for Mozilla Firefox */
input::-moz-placeholder {
  @include input-placeholder-font-style;
}

/* browser-spezifisches CSS for IE */
input:-ms-input-placeholder {
  @include input-placeholder-font-style;
}
