.u-mt-20 {
  margin-top: px-to-rem(20px);

  @include mq-max-width('sm') {
    margin-top: px-to-rem(16px);
  }
}

.u-mt-35 {
  margin-top: px-to-rem(35px);

  @include mq-max-width('sm') {
    margin-top: px-to-rem(16px);
  }
}

.u-text-red {
  color: $color-red;
}

.u-text-bolder {
  font-weight: $font-weight-bolder;
}

.u-border-red {
  border-color: $color-red;
}
