$base-font-size: 16px;
$placholder-font-size: 14px;

$color-red: hsl(0, 100%, 74%);
$color-white: hsl(0, 0%, 100%);
$color-blue: hsl(248, 32%, 49%);
$color-gray: hsl(249, 10%, 26%);
$color-light-gay: #dedede;
