$c-white: #fff;
$c-pale-blue: hsl(223, 100%, 88%);
$c-light-blue: hsl(223, 87%, 70%);
$c-blue: hsl(223, 87%, 63%);
$c-very-dark-blue: hsl(209, 33%, 12%);
$c-gray: hsl(0, 0%, 59%);
$c-light-red: hsl(354, 100%, 66%);
